.examination-wrapper:fullscreen {
  overflow: scroll !important;
}

.examination-wrapper:fullscreen {
  overflow: scroll !important;
}

.examination-wrapper:-ms-fullscreen {
  overflow: scroll !important;
}

.examination-wrapper:-webkit-full-screen {
  overflow: scroll !important;
}

.examination-wrapper:-moz-full-screen {
  overflow: scroll !important;
}

.alert-popup-wrapper {
  backdrop-filter: blur(15px);
  background-color: rgba(0, 0, 0, 0.20);
  height: 100vh;
  width: 100vw;
  z-index: 999;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.alert-popup-card {
  width: 40%;
  height: 30%;
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(#83cfff, #1f6998);
  border-radius: 15px;
  color: #fff;
  text-align: center;
  margin: auto;
}

.alert-popup-card>* {
  margin: 10px auto;
}

.alert-popup-card>#enable-full-screeen-btn {
  background-color: #3eec8e;
  border: none;
  outline: none;
  padding: 1rem 2rem;
  border-radius: 10px;
  font-size: 0.95rem;
  font-weight: 600;
  color: white;
}

.examination-wrapper {
  padding: 4rem 2rem 0;
  background-color: #fff;
}

.examination-wrapper .question-wrapper {
  border-radius: 15px;
  padding: 10px;
  margin: 5px 0;
  border: 0.5px solid black;
}

.examination-wrapper .question-wrapper>p {
  padding: 1rem 0;
  width: 80%;
  font-weight: 500;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -ms-user-select: none;
}

.examination-wrapper .question-wrapper>img {
  padding: 1rem 0;
  width: 100%;
  overflow: hidden;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -ms-user-select: none;
}

.examination-wrapper label {
  width: 100%;
  overflow-wrap: anywhere;
}

.examination-wrapper .option {
  display: inline-flex;
  align-items: center;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -ms-user-select: none;
}

.examination-wrapper .option>input {
  margin-right: 10px;
  width: 30px;
  height: 1.2rem;
}

.examination-wrapper .right-box-wrapper {
  float: right !important;
  margin-right: 30px;
}

.examination-wrapper .right-box {
  align-items: center;
  text-align: center;
  width: 80%;
  height: fit-content;
}

.examination-wrapper .right-box>img {
  width: 70%;
  margin: 0 auto 10px;
  border-radius: 50%;
}

.examination-wrapper .right-box>span {
  font-size: 0.9rem;
  font-weight: 600;
}

.examination-wrapper .time {
  display: block;
  color: black;
  font-size: 1.4rem;
  font-weight: 700;
}

.examination-wrapper .controls {
  width: 95%;
  margin: 2rem 0 0;
}

.examination-wrapper button {
  display: block;
  padding: 0.5rem 1rem;
  font-weight: 500;
  font-size: 1.05rem;
  margin-right: 10px;
  margin-bottom: 10px;
}

.examination-wrapper .submit {
  font-weight: 600;
  width: 80%;
  padding: 0.5rem 1rem;
  margin: 0 0 0 10px;
}

.examination-wrapper fieldset {
  border: none;
  padding: 0;
}

.examination-wrapper .footer {
  position: absolute;
  bottom: 0;
  text-align: center;
}

.examination-wrapper .alert {
  background: #ffebeb;
  width: fit-content;
  display: inline-block;
  border-radius: 20px;
  margin: 0 auto;
  padding: 0.7rem 1rem;
  line-height: 2rem;
}

.examination-wrapper .alert>a {
  background: #cb3737;
  padding: 7px;
  color: white;
  border-radius: 30px;
  margin-left: 10px;
}

.examination-wrapper .btn:focus {
  outline: none;
  box-shadow: none;
}

@media (max-width: 992px) {
  .alert-popup-card {
    width: 86%;
    height: 35%;
  }
  .examination-wrapper .examination-wrapper {
    padding: 1rem 1.5rem 0;
  }
  .examination-wrapper .btn-warning {
    margin-top: 10px;
  }
  .examination-wrapper .question-wrapper>p {
    padding: 1rem 0;
    width: 95%;
    font-weight: 500;
  }
  .examination-wrapper .wrapper {
    display: flex;
    flex-direction: column-reverse;
  }
  .examination-wrapper .right-box-wrapper {
    display: flex;
    flex-direction: row;
  }
}