.student-wrapper>.row>img {
  margin-right: 1rem;
}

.student-wrapper h4 {
  font-weight: 600;
}

.student-wrapper .filters {
  margin: 1rem 0.5rem;
}

.student-wrapper .filters>div {
  margin: 0.4rem 0;
}

.student-wrapper .filters input {
  background-color: hsl(0, 0%, 95%);
  border: 1.5px solid #1f6998;
  outline: none;
  border-radius: 15px;
  padding: 3px 10px;
  width: 80%;
  height: 35px;
  letter-spacing: -0.5px;
}

.student-wrapper .filters select {
  background-color: hsl(0, 0%, 95%);
  border: 1.5px solid #1f6998;
  outline: none;
  border-radius: 15px;
  padding: 3px 10px;
  width: 90%;
  height: 35px;
  letter-spacing: -0.5px;
}

.student-wrapper .column-selector {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.35rem 0.1rem;
  margin: 1rem 0.5rem 0.5rem;
  background-color: #dbe3ff;
  border-radius: 20px;
}

.student-wrapper .column-selector>span {
  margin: 0 0.5rem;
  padding: 0.2rem 2rem;
  font-weight: 500;
}

.student-wrapper .column-selector .active {
  background-color: #5ca1f1;
  border-radius: 20px;
  color: white;
}

.student-wrapper .details-wrapper {
  border-radius: 0 0 10px 10px;
  padding: 0 0.5rem 0.5rem;
  height: 80vh;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  overflow-y: scroll;
  overflow-x: hidden;
}

.student-wrapper .details>span {
  text-align: center;
  overflow: auto;
  padding-left: 0;
  padding-right: 0;
}

.student-wrapper .details {
  padding: 0.5rem;
  cursor: pointer;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
}

.student-wrapper .details:hover {
  background-color: hsl(0, 0%, 95%);
}

.student-wrapper .extra-details {
  padding: 1rem 2rem;
}

.student-wrapper>.header {
  align-items: center;
  background-color: white;
  margin-left: 0;
  margin-right: 0;
  border: 1px solid black;
  border-radius: 10px 10px 0 0;
  font-weight: 500;
  font-size: 0.9rem;
}

.student-wrapper>.header>span {
  text-align: center;
}

.right {
  float: right!important;
}

/*------------------------------------ POPUP -------------------------------*/

.extra-details {
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
  background-color: #FFFFFF;
  height: 85%;
  width: 65%;
  top: 7.5%;
  left: 17.5%;
  z-index: 999;
  position: fixed;
  border-radius: 10px;
}

.extra-details>img, .popup>img {
  float: right !important;
  display: block;
}

.extra-details .candidate-details {
  border: 0.5px solid rgba(0, 0, 0, 0.5);
  overflow-y: scroll;
  overflow-x: hidden;
  height: 70vh;
  padding: 0.5rem 0.5rem 0;
  border-radius: 7px;
}

.extra-details .candidate-details>div {
  font-size: 0.9rem;
  letter-spacing: 0.2px;
  font-weight: 500;
  border-bottom: 0.5px solid black;
  padding: 0.125rem;
}

.extra-details .candidate-details span {
  letter-spacing: 0.2px;
  font-weight: 400;
}

.extra-details .images {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 70vh;
}

.extra-details .images>img:nth-child(1) {
  width: 50%;
}

.extra-details .images>img:nth-child(2) {
  width: 90%;
  margin: 1rem auto;
}

.popup-wrapper {
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
  background-color: rgba(0, 0, 0, 0.2);
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 99;
  position: fixed;
  border-radius: 10px;
}

.popup {
  background-color: hsl(0, 0%, 100%);
  height: 290px;
  width: 620px;
  top: calc(50vh - 145px);
  left: calc(50vw - 310px);
  padding: 2rem;
  z-index: 999;
  position: fixed;
  border-radius: 10px;
}

.popup .popup-details {
  font-weight: 500;
  display: block;
  margin-bottom: 5px;
}

.popup .popup-from input[type="checkbox"] {
  width: 1rem;
}

.popup-from .submit-btn {
  margin-top: 1rem;
  border-radius: 5px;
  padding: 0.25rem 1.5rem;
  color: white;
  font-weight: 600;
  background-color: #00b3ff;
  border: none;
  outline: none;
  display: block;
}

.popup .popup-from label {
  margin-left: 0.5rem;
  margin-right: 1rem;
  font-weight: 500;
}

.popup .popup-from a {
  font-size: 1.1rem;
  margin-left: 1rem;
}

.popup .popup-from input[type="text"] {
  background-color: hsl(0, 0%, 99%);
  border: 1.5px solid #000000;
  outline: none;
  width: 100%;
  border-radius: 5px;
  padding: 3px 10px;
  height: 35px;
  letter-spacing: -0.5px;
}

.popup .popup-from input[type="date"] {
  background-color: hsl(0, 0%, 99%);
  border: 1.5px solid #000000;
  outline: none;
  border-radius: 5px;
  padding: 3px 10px;
  height: 35px;
  letter-spacing: -0.5px;
}

.popup .popup-from a:hover {
  color: hsl(211, 100%, 40%);
}

.popup .interview-response-btn {
  position: absolute;
  top: 40%;
  left: 27%;
  background-color: #5ca1f1;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  outline: none;
  border-radius: 5px;
}