
.dashboard-wrapper > span:nth-child(2){
    font-weight: 600;
    margin-left: 2rem;
}

.content-wrapper{
    margin: 0.5rem 0.5rem 1rem;
    width: fit-content;
    border-radius: 10px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
    padding: 1rem 0 0.5rem;
}
.content-wrapper > div{
    display: inline-block;
    margin: 0 2rem;
}
.content-wrapper > div:nth-of-type(1){
    margin-left: 2.5rem;
}
.content-wrapper > div:nth-of-type(5){
    margin-right: 2.5rem;
}

.content-wrapper span{
    display: block;
    text-align: center;
}

.content-wrapper span:nth-child(2){
    font-size: 2.5rem;
}


.stats{
    margin: 1rem 0.5rem;
    border-radius: 15px;
    box-shadow:  0px 0px 10px 2px rgba(0, 0, 0, 0.2);
    padding: 2%;
}

.stats .header > img{
    width: 2rem;
    margin: 0 0.5rem;
}

.stats .header{
    display: flex;
    flex-direction: row;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 500;
    padding: 0.5%;
    letter-spacing: -1px;
}


.stats > div{
    margin: 1rem 0.5rem;
    border-radius: 5px;
    overflow: hidden;
}

.stats .data-wrapper{
    padding: 0.5rem;
    margin: 0;
    width: 50%;
    height: 40px;
    font-weight: 500;
    letter-spacing: -0.3px;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.stats .data-wrapper > span:nth-of-type(1){
   position: absolute;
}

.stats .data-wrapper > span:nth-of-type(2){
    position: absolute;
    right: 4rem;
}
