.navigation-wrapper {
  position: fixed;
  top: 0;
  height: 60px;
  width: 100%;
  display: flex;
  z-index: 99;
  color: white;
  background-color: #000;
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.6);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.navigation-wrapper .logo {
  height: 40px;
  margin: 10px 30px;
}
.navigation-wrapper .menu-wrapper {
  display: flex;
  align-items: center;
  margin-right: 30px;
}
.navigation-wrapper .nav-menu {
  display: inline-flex;
  align-items: center;
  margin: auto 15px;
  font-size: 1.1rem;
  font-weight: 500;
}
.navigation-wrapper .nav-menu-icon {
  height: 16px;
  margin-right: 5px;
}
.navigation-wrapper a,
a:hover {
  text-decoration: none !important;
  color: white;
}

.navigation-wrapper .nav-menu:nth-of-type(1){
  margin-left: 30px;
}
@media (max-width: 700px) {
  .navigation-wrapper .nav-menu:nth-of-type(1) {
    display: none;
  }
}
